front-end/node_modules/*
backend-end/node_modules/*
dist/
static/
.babelrc
.idea/
.postcssrc.js
debug.log
language.js
firefox_root/
npm-debug.log
npm-debug.log.*
!front-end/node_modules/element-ui/
!front-end/node_modules/element-theme-default/
config/*
!config/index.js
!config/*.env.example.js
package-lock.json
